@import './colors';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62, 5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: $dark;
}

.card-body {
	color: $dark;
}

h2 {
	text-transform: uppercase;
	color: $dark;
	margin-left: 3px;
	font-size: 2.2rem;
}

h3 {
	font-weight: bold;
}

a {
	padding: 5px 20px;
}

.burger-btn {
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 0.7em;
	color: $dark;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 10;
	transition: color 0.3s;

	&:hover {
		color: $third-color;
	}
}

.nav {
	&__container {
		display: flex;
	}

	&__mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $pure-white;
		transform: translateX(-150%);
		transition: transform 0.3;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&__desktop {
		position: relative;
		width: 100%;
		height: 70px;
		text-align: right;
		background-color: $pure-white;
	}

	&__item {
		padding: 10px 20px;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.2rem;
		color: $dark;
		transition: color 0.3s;

		&:hover {
			color: $third-color;
		}
	}

	&__items {
		display: flex;
		flex-direction: row;
	}
}

.shadow-bg {
	background-color: $pure-white;
}

.active {
	color: $third-color;
}

.header {
	position: relative;
	padding: 40px;
	text-align: center;
	font-family: roboto;
	color: $dark;
}

// index


.oboutUs__box {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	margin-bottom: 140px;

	&-text {
		padding: 50px;
		margin-top: 70px;
	}
}

.image {
	position: relative;
	text-align: center;
	height: 120vh;
	padding: 25px 8px;
	@include firstImg('../img/group_640.jpg');

	&__heading {
		color: $pure-white;
		font-weight: bold;
		text-shadow: 2px 2px black;
	}
}

.classes {
	padding: 150px;

	&__box {
		padding: 10px;
	}

	&__img {
		margin: 0 auto;
		display: block;
	}

	&__text {
		padding: 30px;
	}

	&__title {
		margin-bottom: 40px;
	}
}

.image2 {
	position: relative;
	text-align: center;
	height: 120vh;
	padding: 25px 8px;
	@include firstImg('../img/coach_640.jpg');

	&__heading2 {
		color: $pure-white;
		font-weight: bold;
		text-shadow: 2px 2px black;
	}
}

.coach {
	padding: 150px;

	&__card-title {
		font-weight: bold;
	}
}

.col {
	margin-top: 60px;
}

// offers

.price__box {
	margin-top: 100px;
	text-align: center;
}

.price-info {
	margin: 40px;
}

.btn {
	font-size: 1.5rem;
	margin-top: 40px;
	color: $pure-white;
	background-color: $secondary-color;
	border-color: $secondary-color;
}

.btn:hover {
	color: $pure-white;
	background-color: $dark;
	border-color: $dark;
}

.localization {
	margin-top: 100px;
	margin-bottom: 100px;

	&__box {
		padding: 40px;
		text-align: center;
	}
}

// question

.question {
	margin-bottom: 20px;
}


.question-box {
	margin-bottom: 15px;
}

.question-btn,
.question-info-text {
	padding: 25px;
	width: 100%;
	font-size: 1.5rem;
	text-align: left;
	border: none;
	border-radius: 8px;
	color: $dark;
	background-color: #e3e3e350;
	box-shadow: 2px 2px #0003;
	transition: background-color 0.3s;
	cursor: pointer;
}

.question-btn:hover {
	color: $third-color;
	outline: none;
}

.question-info {
	display: none;
	padding: 10px 20px;
}



.active {
	display: block;
}



// gallery

.gallery_img {
	position: relative;
	margin: 20px;
	box-shadow: 5px 5px 10px grey;
}

// footer

.footer {
	margin-left: 150px;
	margin-right: 150px;

	&__box-title {
		margin-top: 60px;
		text-align: center;
	}

	&__box-text {
		margin: 40px;
	}

	&__box-text2 {
		text-align: center;
		margin-bottom: 40px;
	}

	&__box-link {
		text-decoration: none;
		color: $dark;
		margin: 20px;
	}

	&__box-link2 {
		color: $dark;
		font-size: 2rem;
		margin: 2px;
	}

	&__box-social {
		text-align: center;
	}

	&__bottom-text {
		font-size: 1rem;
		text-align: center;
	}
}

@media (max-width: 576px) {
	h2 {
		margin-left: 0em;
	}

	.header__heading {
		margin-top: 80px;
	}

	.nav {
		&__desktop {
			display: none;
		}

		&__item {
			display: flex;
			flex-direction: row;
		}
	}

	.oboutUs {
		padding: 40px;
	}

	.oboutUs__box {
		display: flex;
		flex-direction: column;

		&-img {
			margin: 0 auto;
			display: block;
		}

		&-text {
			margin-left: 60px;
			margin-right: 60px;
			font-size: 1.3rem;
		}
	}

	.image {
		padding: 360px 20px;

		&__heading {
			font-size: 2.5rem;
		}
	}

	.classes {
		padding: 40px;

		&__box {
			padding: 0px;
		}

		&__img {
			width: 95%;
		}

		&__title {
			font-size: 1.3rem;
		}

		&__text {
			padding: 0px;
			margin: 0px;
			margin-top: 40px;
			margin-bottom: 80px;
			font-size: 1.3rem;
		}
	}

	.image2 {
		padding: 360px 20px;

		&__heading2 {
			font-size: 2.5rem;
		}
	}

	.coach {
		padding: 40px;
	}

	.coach__card {
		&-text {
			font-size: 1.3rem;
		}
		&__btn {
			font-size: 1.3rem;
		}
	}

	.footer {
		margin-left: 40px;
		margin-right: 40px;
		font-size: 1.3rem;

		&__box-link {
			margin: 0px;
			padding: 0px;
		}
	}


	.gallery {
		padding: 40px;
	}

	.gallery_img {
		width: 80%;
	}

	.question {
		padding: 40px;
	}

	.question-btn,
	.question-info-text {
		margin: 0 auto;
		display: block;
		width: 80%;
		font-size: 1.3rem;
	}

	.prices, .localization {
		padding: 40px;
	}

	.price__box {
		margin-top: 100px;
		text-align: center;
		font-size: 1.3rem;
		padding: 40px;
	}

	.price__info {
		font-size: 1.3rem;
		padding: 40px;
	}

	.btn {
		font-size: 1.3rem;
		margin-top: 40px;
	}

	.localization__box {
		padding: 40px;
		font-size: 1.3rem;
	}
}

@media (min-width: 576px) {
	h2 {
		margin-left: 0px;
	}

	.header__heading {
		margin-top: 80px;
	}

	.nav {
		&__desktop {
			display: none;
		}

		&__item {
			display: flex;
			flex-direction: row;
		}
	}

	.oboutUs {
		padding: 40px;
	}

	.oboutUs__box {
		display: flex;
		flex-direction: column;

		&-img {
			margin: 0 auto;
			display: block;
		}

		&-text {
			padding: 60px;
		}
	}

	.image {
		padding: 360px 20px;

		&__heading {
			font-size: 3.5rem;
		}
	}

	.classes {
		padding: 40px;

		&__box {
			padding: 0em;
		}

		&__img {
			width: 85%;
		}

		&__title {
			font-size: 1.5rem;
		}

		&__text {
			padding: 0px;
			margin: 0px;
			margin-top: 40px;
			margin-bottom: 80px;
			font-size: 1.5rem;
		}
	}

	.image2 {
		padding: 300px 20px;

		&__heading2 {
			font-size: 3.5rem;
		}
	}

	.coach {
		padding: 40px;
	}

	.coach__card-text {
		font-size: 1.5rem;
	}

	.footer {
		margin-left: 40px;
		margin-right: 40px;
		font-size: 1.5rem;
	}

	.gallery {
		padding: 40px;
	}

	.gallery_img {
		width: 80%;
	}

	.question {
		padding: 40px;
	}

	.question-btn,
	.question-info-text {
		margin: 0 auto;
		display: block;
		width: 80%;
		font-size: 1.5rem;
	}

	.prices, .localization {
		padding: 40px;
	}

	.price__box {
		margin-top: 100px;
		text-align: center;
		font-size: 1.5rem;
		padding: 40px;
	}

	.price__info {
		font-size: 1.5rem;
		padding: 40px;
	}

	.btn {
		font-size: 1.5rem;
		margin-top: 40px;
	}

	.localization__box {
		padding: 40px;
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) {
	.nav {
		&__desktop {
			display: none;
		}

		&__item {
			display: flex;
			flex-direction: row;
		}
	}

	.oboutUs {
		padding: 80px;
	}

	.oboutUs__box-img {
		margin: 0 auto;
		display: block;
	}

	.image {
		@include firstImg('../img/group_1920.jpg');
	}

	.classes {
		padding: 80px;

		&__img {
			width: 80%;
		}

		&__title {
			font-size: 1.5rem;
		}

		&__text {
			padding: 0px;
			margin: 0px;
			margin-top: 40px;
			margin-bottom: 80px;
			font-size: 1.5rem;
		}
	}

	.image2 {
		@include firstImg('../img/coach_1920.jpg');
	}

	.coach {
		padding: 60px;
	}

	.footer {
		margin-left: 60px;
		margin-right: 60px;
		font-size: 1.5rem;
	}

	.gallery {
		padding: 80px;
	}

	.gallery_img {
		width: 70%;
	}

	.question {
		padding: 80px;
	}

	.question-btn,
	.question-info-text {
		font-size: 1.5rem;
	}

	.prices, .localization {
		padding: 80px;
	}

	.price__box {
		margin-top: 100px;
		text-align: center;
		font-size: 1.5rem;
		padding: 40px;
	}

	.price__info {
		font-size: 1.5rem;
		padding: 40px;
	}

	.btn {
		font-size: 1.5rem;
		margin-top: 40px;
	}

	.localization__box {
		padding: 40px;
		font-size: 1.5rem;
	}
}

@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}

	.nav {
		&__desktop {
			display: block;
		}

		&__item {
			display: flex;
			flex-direction: row;
		}
	}

	.oboutUs {
		padding: 100px;
	}

	.oboutUs__box {
		display: flex;
		flex-direction: row;

		&-text {
			padding: 60px;
		}
	}

	.image__heading {
		font-size: 3.5rem;
	}

	.classes {
		padding: 100px;
	}

	.classes__img {
		width: 70%;
	}
	.coach {
		padding: 100px;
	}
	.footer {
		margin-left: 100px;
		margin-right: 100px;
		font-size: 1.5rem;
	}

	.image2__heading2 {
		font-size: 3.5rem;
	}
	.gallery_img {
		width: 60%;
	}

	.gallery {
		padding: 100px;
	}

	.prices, .localization {
		padding: 100px;
	}

	.price__box {
		margin-top: 100px;
		text-align: center;
		font-size: 1.5rem;
		padding: 40px;
	}

	.price__info {
		font-size: 1.5rem;
		padding: 40px;
	}

	.btn {
		font-size: 1.5rem;
		margin-top: 40px;
	}

	.localization__box {
		padding: 40px;
		font-size: 1.5rem;
	}

	.question {
		padding: 100px;
	}
}

@media (min-width: 1200px) {
	.aboutUs,
	.classes,
	.coach ,
	.prices,
	.localization{
		padding: 150px;
	}

	.footer {
		margin-left: 150px;
		margin-right: 150px;
	}

	.classes__img {
		width: 60%;
	}

	.gallery {
		padding: 150px;
	}

	.question {
		padding: 150px;
	}

	.image__heading {
		font-size: 5rem;
	}

	.image2__heading2 {
		font-size: 5rem;
	}
}
